/* home page main content */

main {
    width: 100%;
    margin: 50px 0px;
    /* background-color: aqua; */
}

.homePage-head {
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    text-transform: capitalize;
}

.parent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 0px 0px;
}

.card {
    width: 300px;
    height: auto;
    margin: 20px;
    cursor: pointer;
    box-shadow: 5px 5px 20px rgb(53, 52, 52);
    text-decoration: none !important;
}

.card:hover{
    box-shadow: 5px 5px 30px rgb(75, 75, 75);
}

.card img {
    width: 300px;
    height: 250px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.card-data{
    padding: 0px 20px 20px;
}
.card h3 {
    font-size: 20px;
    text-align: justify;
    text-transform: capitalize;
    color: rgb(49, 49, 49);
    margin: 10px 0px;
    text-decoration: none;
}

.card p,
.card-categary,
.card-price {
    font-size: 15px;
    text-align: justify;
    text-transform: capitalize;
    margin: 8px 0px;
}

.card-categary {
    color: aqua;
    font-weight: bold;
}

.card-price {
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 17px;
}

.a {
    text-decoration: none;
}